DB=schema-name
DB_USERNAME=database-username
DB_PASSWORD=database-password
DB_HOST=database-host
DB_PORT=database-port

DB_TEST=schema-name
DB_USERNAME_TEST=database-username
DB_PASSWORD_TEST=database-password
DB_HOST_TEST=database-host
DB_PORT_TEST=database-port

CLOUDINARY_CLOUD_NAME=cloudinary_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_secret_key